* text=auto eol=crlf
# Set line endings to LF for .sh files
*.sh text eol=lf

# Pictures
*.png binary
*.jpg binary
*.gif binary
# Documents
*.pdf binary



# Ensures that when merging from main, their versions in publish stay unchanged.
original_scoring.xpr merge=keep-publish
